/**{
  border: 1px solid;
}*/
*{
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: #0C080A;
  padding-left: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #E0FF80;

font-weight: 400;

font-style: normal;
}
h1{
  font-family: 'Monoton', cursive;
  font-size: 100px;
  color:#22181C;
  padding: 20px;
  font-weight: 400;
  font-style: normal;
  color: #E0FF80;
}
section{
  color: red;
  margin-bottom: 1em;
}
a {
  color: hotpink;
}
/*
EVENT
*/
.event{
  border:3px dotted;
  padding:30px;
  width:300px;
  box-sizing: border-box;
  margin:20px;
  display:inline-block;
}
event-description{
  color: green;
}
