*{
  background-color: #fff7e6;
  margin:10px;
}
p{
  text-align: left;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  position: relative;
  width: 45%;
}
.para2{
  position: fixed;
}

.bgimages{
   float: right
  display: block;
  margin-right: auto;
  opacity: 0.5;
}
