*{
  background-color: #fff7e6;
  margin:10px;
}
h1{
  font-family: 'Laila', sans-serif;
  font-size: 50px;
}
p{
  text-align: left;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  position: relative;
  width: 45%;
}
.para2{
  position: fixed;
}

.bgimages{
  display: block;
  margin-right: auto;
  opacity: 0.5;
}

.anatomy{
  positive: relative;
  left: 50 px;
  transform: rotate(20deg);
  filter: drop-shadow(30px 10px 4px #4444dd);
}
